@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.header{
  background-color: cadetblue;
  padding: 20px;
}

button{
  background-color: rgb(7, 133, 165);
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;
}

.active{
  background-color: rgb(247, 64, 64);
}

.b-container{
  background-color: rgb(177, 218, 221);
  width: 600px;
  max-width: 70%;
  margin: 20px auto;
  padding: 40px;
}

.b-container h1{
  color: rgb(19, 19, 19);
  margin-bottom: 20px;
}

.b-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: rgb(107, 107, 107);
}

.b-text{
  display: flex;
  align-items: center;
  gap: 30px;
}

.b-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.b-clear{
  margin-top: 30px;
  margin-left: 0;
  justify-content: center;
  width: 100%;
  background-color: rgb(194, 14, 14);
}

.remove{
  padding: 8px 15px;
  background-color: rgb(19, 105, 139);
}
